.box {
  border-width: 10px;
  border-style: solid;
  border-color: pink;
  width: 100px;
  height: 100px;
}

.box1 {
    border-top: 10px solid black;
    border-right: 10px double red;
    border-bottom: 10px dotted green;
    border-left: 10px dashed violet;
    width: 100px;
    height: 100px;
}
.box2 {
    width: 100px;
    height: 100px;
    background: violet;
    border-radius:50% ;
    box-shadow: 15px 15px 0 0;

}
