@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Source+Sans+Pro&display=swap');


body {
   
    
}

.Google h1 {
    font-size: 120px;
    letter-spacing: -13px;
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

}

.blue {
    color: #4285f4;
}

.red {
    color: #ea4335;
}

.yellow {
    color: #fcc830;
}

.green {
    color: #34a853;
}

.e_rotate {display: inline-block; transform: rotate(-15deg);}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: block;
    width: 120px;
    height: 120px;
    margin: 50px;
    text-align: center;
    color: #0f0f0f;
}

.box1 {
    position: relative;
    border-radius: 50%;
    top: 10px;
    left: 25%;
    width: 60px;
    height: 60px;
    background-color: gainsboro;
}

.box1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 span {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.box:hover {
    background-color: rgba(245, 245, 245, 0.933);
    transition: 1s;
}